<!DOCTYPE html>
<html lang="en">
<title>Logika N-trophy 2019</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
  .w3-bar,h1,button,a {font-family: "Montserrat", sans-serif}
  .fa-book-open,.fa-tasks {font-size:200px}

  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  body {
    display: flex;
  }
  .center {
    margin: auto;
  }
  
</style>

<body>
  <div class="w3-content w3-container center" style="margin: auto">
    <p class="w3-center">Byli jste odhlášeni.</p>
    <a href="/" class="w3-button w3-black w3-center w3-section">
      Znovu se přihlásit.
    </a>
  </div>
</body>
