
<!DOCTYPE html>
<html lang="en">
<title>Logika N-trophy 2019</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="/static/img/logo.png"/>
<script src="/static/src/core.js"></script>
<link rel="stylesheet" href="/static/css/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-book-open,.fa-tasks,.fa-info-circle {font-size:200px}
.post {
  width: 100%;
}
.post-head {
  width: 100%;
  text-align: right
}
#logo {
  background-color: black;
  padding: 50px;
  border-radius: 100%;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="toggleNav()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/#" class="w3-bar-item w3-button w3-padding-large w3-padding-large w3-hover-white"><i class="fa fa-home"></i></a>
    <a href="/#rules" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Pravidla</a>
    <a href="/#levels" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Přehled úrovní</a>
    <a href="/accounts/logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right">Odhlásit</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/#rules" class="w3-bar-item w3-button w3-padding-large">Pravidla</a>
    <a href="/#levels" class="w3-bar-item w3-button w3-padding-large">Přehled úrovní</a>
    <a href="/accounts/logout" class="w3-bar-item w3-button w3-padding-large">Odhlásit</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
    <div class="w3-center">
      <h1 class="w3-margin w3-jumbo">AHOJ</h1>
      <p class="w3-xlarge">{{ name }}</p>
      <a href="/level/{{ next_level }}" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Jdi rovnou řešit</a>
    </div>
</header>


<!-- First Grid -->
<div id="news" class="w3-row-padding w3-light-gray w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fas fa-info-circle w3-padding-64 w3-text-red"></i>
    </div>
    <div class="w3-twothird w3-border-bottom">
      <h1>Novinky</h1>
      {% for post in posts %}
        <div class="w3-container w3-padding w3-border-top w3-border-left w3-border-right w3-white">
          <h6 class="post-head">
            {{ post.published }}
          </h6>
          <div class="post">
            {{ post.text | safe }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Second Grid -->
<div id="rules" class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Pravidla hry</h1>


        <p>Milý týme, v rámci kvalifikační úlohy z logiky máte za úkol
        rozmístit nemocnice tak, abyste jimi co nejlépe pokryli incidenty
        probíhající ve vaší zemi. Úloha se skládá z 10 úrovní. Po odevzdání
        řešení úrovně se vám otevře úroveň další. Vaším cílem je být v každé
        úrovni co nejlepší.</p>

        <p>V každé úrovni můžete umístit na mapu předem daný počet nemocnic a to
        buď klikáním do interaktivní mapy, nebo nahráním textového souboru se
        souřadnicemi nemocnic. Taktéž si můžete stáhnout souřadnice incidentů
        formou souboru.</p>

        <p>Vaším cílem je dosáhnout v každé úrovni co nejmenší hodnoty vzdálenostní
        funkce. Na začátku úrovně je vždy popsáno, jak vzdálenostní funkce vypadá.
        Pro výpočet hodnoty vzdálenostní funkce je relevantní pozice nemocnic
        s přesností na 2 desetinná místa. Vzdálenostní funkcí může být například
        průměr vzdáleností každého incidentu od nejbližší nemocnice.</p>

        <p>Výsledek dané úrovně je možné odevzdat nejvýše jednou. U některých
        úrovní je možné nechat si několikrát vyhodnotit webem hodnotu vzdálenostní
        funkce na základě tebou nastavené polohy nemocnic. K předcházejícím
        úrovním je možné se po odevzdání vracet, ale již ne znovu odevzdávat.</p>

        <p>Hrajte fair play, nekraďte loginy jiných týmů a neničte nám web :).
        Pokud narazíte na nestandardní chování, ihned jej nahlaste na
        <a href="mailto:logika@ntrophy.cz">logika@ntrophy.cz</a>.
        Všechny použité zdroje citujte.</p>

        <p>Další pravidla mohou být různá pro různé úrovně. Budou vždy popsaná na
        stránce příslušné úrovně.

        <h2>Bodování</h2>
        <ol>
         <li>Až 50 bodů můžete získat za dostatečně malé hodnoty vzdálenostní funkce
             na jednotlivých úrovních.</li>
         <li>Až 50 bodů můžete získat za textový popis řešení jednotlivých
             úrovní.</li>
        </ol>
        <h2>Co a jak odevzdávat</h2>
        <p>Tvé výkony na jednotlivých úrovních vyhodnotíme automaticky,
        ty není třeba odevzdávat. Nezapomeň však odevzdat pdf soubor, do
        kterého nám ke každé úrovni napiš, jak jsi k jejímu řešení přistoupili
        a jaké techniky jsi použil. U každé úrovně zdůvodni, proč si myslíš, že
        tvé řešení je optimální.</p>
      </div>
      <div class="w3-third w3-center">
        <i class="fas fa-book-open w3-padding-64 w3-text-red"></i>
      </div>
    </div>
  </div>

<!-- Third Grid -->
<div id="levels" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fas fa-tasks w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Úrovně</h1>
      {% for level in levels %}
      <a {% if level.id <= next_level %} href="/level/{{ level.id }}" {% endif %}>
        <div class="w3-cell-row w3-padding-large w3-large {{level.class}}">
            <div class="w3-container w3-cell w3-cell-middle">{{ level.id }}. úroveň</div>
            <div id="status-{{ level.id }}" class="w3-container w3-cell w3-right">{{ level.status }}</div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
<script>
  window.addEventListener('resize', resize_level_status);
  resize_level_status();
</script>
  
<footer class="w3-container w3-black w3-center w3-opacity w3-padding-64">
  <!-- <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1> -->
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<!-- Footer -->
<!-- <footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer> -->

</body>
</html>
